/*MEDIA QUERIES*/
/*INDEX -> ASIDE*/
@media (min-width: 1200px) {
  #iconoAsideG1 {
    width: 100%;
  }
  #iconoAsideG2 {
    width: 100%;
  }
  #iconoAsideG3 {
    width: 100%;
  }
  #iconoAsideP1 {
    width: 100%;
  }
  #iconoAsideP2 {
    width: 100%;
  }
  #iconoAsideP3 {
    width: 100%;
  }
}
