/*SECTION*/
section {
  text-transform: uppercase;
  text-align: center;
  h1 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 4rem;
  }
  h2,
  h3 {
    font-family: "Exo", sans-serif;
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
}
/*SECTION:PREG FRECUENTES*/
.containerWidthText {
  width: 32rem;
}
.widthImg {
    width: 45%;
}

#preguntasFrecuentes {
  h4 {  
    $typeLetter1:"Anton", sans-serif;
    @include styleTextPregFrecuentes($negro,$typeLetter1,1.8rem, uppercase );
  }
  p {
    $typeLetter2:"Montserrat", sans-serif;
    @include styleTextPregFrecuentes($negro,$typeLetter2 ,1.2rem ,initial );
  }
}
/*SECTION:CONTACTO*/
.sobreNosotrosStyle {
  p {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    font-weight: bold;
    line-height: 1.8;
    font-size: 1rem;
    text-transform: initial;
  }
}
.contactoStyle {
  form {
    width: 80%;
    margin: auto;
    font-family: "Ruda", sans-serif;
    text-align: justify;
    .btn{
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      font-weight: bold;
      border: solid 1px $negro;
      box-shadow: 5px 5px 5px $negro;
      &:hover{
        box-shadow: 5px 5px 5px $gris;
        border: solid 1px $gris;
      }
    }
    .btn--aceptar{
      @extend .btn;
      background-color: rgb(105, 232, 105);
      &:hover{
        background-color: rgb(54, 235, 54);

      }        
    }
    .btn--restablecer{
      @extend .btn;
      background-color: rgb(249, 103, 103); 
      &:hover{
        background-color: rgb(254, 76, 76); 

      }
    }
  }
}
